extends layout

block content
  div#content
    form.url
      input(class='text', placeholder='Enter a URL to learn more about its privacy rating')
      input(type='submit', class='button', data-role='submit') Submit
      p.message

    div(class='tabs-module', data-role = 'tabs-module')
      ul(class = 'tabs', data-role = 'tabs')
        li
          a(href='#panel-1') Overview
        li
          a(href='#panel-2') Tree View
        li
          a(href='#panel-3') Visualization
      div(class = 'panel', data-role='panel', data-panel-id='#panel-1')
        div.score
          h1 Score
          p 72
        div.recommendations
          h1 Recommendations
          ul
            li Do something
            li Do something else
            li Do something else
            li Do something else
      div(class = 'panel', data-role='panel', data-panel-id='#panel-2')
        div#summary
        div#treeView
      div(class = 'panel', data-role='panel', data-panel-id='#panel-3')
        div#container

block scripts
  script(type='text/javascript')
    $(document).ready(function() { 
      PS.ui.tabs();
      $('form').submit(function(evt){
        $url = $(this).find('input').val();
        PS.core.getHar($url);
        evt.preventDefault();
        $(document).bind('harData', 'body', function (evt, data) {
          console.log('harData: ', data);
          processTreeView(JSON.stringify(data), $('#treeView'));
        });
      });
    });
