extends layout

block content
  div#content
    form.url
      input(class='text', placeholder='Put in a URL, we give you back privacy info.')
      input(type='submit', class='button', data-role='submit') Submit
      p.message

    div(class='tabs-module', data-role = 'tabs-module')
      ul(class = 'tabs', data-role = 'tabs')
        li
          a(href='#panel-1') Overview
        li
          a(href='#panel-2') Tree View
        li
          a(href='#panel-3') Sunburst
      div(class = 'panel', data-role='panel', data-panel-id='#panel-1')
        div.score
          h1 Score
          p 72
        div.recommendations
          h1 Recommendations
          ul(data-role='recommendations')
      div(class = 'panel', data-role='panel', data-panel-id='#panel-2')
        div#summary
        div#treeView
      div(class = 'panel', data-role='panel', data-panel-id='#panel-3')
        div.gallery#chart

block scripts
  script(type='text/javascript')
    $(document).ready(function() { 
      PS.ui.tabs();
      PS.core.hideTabs();

      $('form').submit(function(evt){
        PS.core.clearContent();
        PS.core.hideTabs();

        $url = $(this).find('input').val();
        PS.core.getHar($url);
        evt.preventDefault();

        $(document).bind('harData', 'body', function (evt, data) {
          console.log('harData: ', data);
          PS.core.showTabs();
          processTreeView(JSON.stringify(data), $('#treeView'));
          setup_burst(har);
          PS.core.reportScore(data.overall_privacy_score);
          PS.core.reportRecommendations(data.privacy_recommendations);
        });
      });
    });
