extends layout

block content
  div#content
    form.url
      input(placeholder='Enter a URL to learn more about its privacy rating')
      div(class='button', data-role='submit') Submit

    div(class='tabs-module', data-role = 'tabs-module')
      ul(class = 'tabs', data-role = 'tabs')
        li
          a(href='#panel-1') Overview
        li
          a(href='#panel-2') Analysis
      div(class = 'panel', data-role='panel', data-panel-id='#panel-1')
        div.score
          h1 Score
          p 72
        div.recommendations
          h1 Recommendations
          ul
            li Do something
            li Do something else
            li Do something else
            li Do something else
      div(class = 'panel', data-role='panel', data-panel-id='#panel-2')
        p tab panel 2
        div#summary
        div#treeView

block scripts
  script(type='text/javascript')
    $(document).ready(function() { 
      PS.ui.tabs();

      $('[data-role="submit"]').click(function(evt){
        $url = $('.url input').val();
        PS.core.getHar($url);
      });
    });