doctype 5
html(lang="en")
  head
    title
    link(rel = 'stylesheet', href = 'stylesheets/style.css')
    script
      if (typeof PS === 'undefined' || !PS) {
        var PS = {};
      } 
      if (typeof PS.config === 'undefined' || !PS.config) {
        var PS = {};
      }
      PS.config = typeof !{JSON.stringify(PSConfig)} !== 'undefined' ? !{JSON.stringify(PSConfig)} : {};
  body
    header
      div.logo= 'Privacy Scanner'
    block content
    script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='js/underscore.js')
    script(src = 'js/ps.core.js')
    script(src = 'js/ps.ui.js')
    block scripts
