doctype 5
html(lang="en")
  head
    title
    link(rel = 'stylesheet', href = 'stylesheets/style.css')
    link(rel = 'stylesheet', href = 'vendor/treeview/css/treeview.css')
    link(rel = 'stylesheet', href = 'http://mbostock.github.com/d3//syntax.css?1.6.0')
    link(rel = 'stylesheet', href = 'http://mbostock.github.com/d3/style.css?1.10.0')
    link(rel = 'stylesheet', href = 'stylesheets/sunburst.css')
    script
      if (typeof PS === 'undefined' || !PS) {
        var PS = {};
      } 
      if (typeof PS.config === 'undefined' || !PS.config) {
        var PS = {};
      }
      PS.config = typeof !{JSON.stringify(PSConfig)} !== 'undefined' ? !{JSON.stringify(PSConfig)} : {};
  body
    header
      div.logo
        a(href='/') PrivacyScanner
          span Put in a URL, we give you back privacy info.
    block content
    div#overlay-mask
    script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src = 'http://mbostock.github.com/d3//d3.v2.js?2.8.1')
    script(src = 'js/sunburst.js')
    script(src = 'js/underscore.js')
    script(src = 'vendor/treeview/js/jquery.treeview.js')
    script(src = 'js/harParser.js')
    script(src = 'js/harTreeView.js')
    script(src = 'js/treeview-page.js')
    script(src = 'js/ps.ui.js')
    script(src = 'js/ps.core.js')
    script(src = 'js/ps.utils.js')
    script(src = 'js/ps.ui.js')
    block scripts
