<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>d3.js ~ Sunburst</title>
    <script type="text/javascript" src="http://mbostock.github.com/d3//d3.v2.js?2.8.1"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <style type="text/css">

@import url("http://mbostock.github.com/d3/style.css?1.10.0");
@import url("http://mbostock.github.com/d3//syntax.css?1.6.0");
    </style>
  </head>
  <body>
    <div class="body">
      <div class="content">

<div class='gallery' id='chart'>
<!--
  <button class='first' id='size'>
    Size
  </button><button class='last active' id='count'>
    Count
  </button><p />
-->
</div>

<link href='http://mbostock.github.com/d3/ex/button.css' rel='stylesheet' type='text/css' />
<link href='sunburst.css' rel='stylesheet' type='text/css' />

<script src='sunburst.js' type='text/javascript'> </script>

<script type="text/javascript">
$(window).bind('hashchange', function() {
  var url = /^#http/.test(location.hash) ? location.hash.replace(/^#/, '') : null;
  if (url == null) return;
  jQuery.ajax({
    url: '/api/v1/privacy/'+ url, 
    dataType: 'json', 
    success: function(har) {
      setup_burst(har);
    }
  });

});

jQuery(document).bind('ready', function() {
  var url = /^#http/.test(location.hash) ? location.hash.replace(/^#/, '') : 'http://drknowledge.com';
  jQuery.ajax({
    url: '/api/v1/privacy/'+ url, 
    dataType: 'json', 
    success: function(har) {
      setup_burst(har);
    }
  });
});
</script>
</div>
</body>
</html>
