@import "variables"

body
  padding: 40px
  font-size: $font_size
  font-family: $font_family

.button
  display: inline-block
  overflow: hidden
  margin: 0
  border: $border
  color: $text_color
  background-color: $pale_gray 
  border-radius: 3px
  $pale_gradient()
  font-weight: bold
  text-align: center
  text-decoration: none
  vertical-align: middle
  line-height: 32px
  height: 32px
  cursor: pointer
  padding: 0 15px

input::-webkit-input-placeholder
  color: #ccc
  font-family: inherit
  font-weight: normal
