@import "reset"
@import "variables"
@import "base"
@import "layout"
@import "tabs"

.logo
  margin-bottom: 15px

  a
    color: $text_color
    text-decoration: none
    font-weight: bold
    font-size: 24px
    line-height: 26px

    span
      color: $secondary_text
      font-weight: normal
      display: block
      font-size: 20px

form.url
  border-radius: 3px
  background: #fff
  border: $border
  padding: 10px
  overflow: hidden
  margin-bottom: 20px

  input.text
    float: left
    width: 840px
    height: 30px
    line-height: 30px
    font-size: 18px
    font-family: inherit
    padding-left: 10px

  input.button
    font-family: inherit
    font-size: 12px
    margin-left: 8px

  p.message
    display: none

.score
  width: 200px
  height: 200px
  float: left

  h1
    padding: 8px
    text-align: center

  p
    font-size: 100px
    text-align: center
    font-weight: bold

.recommendations
  float: left
  margin-left: 20px
  width: 650px

  ul
    li
      list-style-position: outside
      padding-left: 0
      margin-left: 15px
