@import "reset"
@import "variables"
@import "layout"
@import "tabs"

body
  font-size: $font_size
  font-family: $font_family

.logo
  a
    color: $text_color
    text-decoration: none
    font-weight: bold
    font-size: 24px
