.tabs-module

  ul.tabs
    li
      float: left
      list-style-type: none;

      a
        display: block
        height: 40px
        line-height: 40px
        border: 1px solid black
        padding: 0 10px

      a.current
        background: red

  div.panel
    display: none
    clear: left
    border: 1px solid black

  div.panel.current
    display: block
