.tabs-module

  ul.tabs
    li
      float: left
      list-style-type: none;

      a
        display: block
        height: 35px
        line-height: 35px
        border: $border
        border-bottom: none
        border-left: none
        padding: 0 20px
        font-weight: bold
        text-align: center
        text-decoration: none
        vertical-align: middle
        color: $text_color
        $pale_gradient()

      a.current
        background: #fff
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
      
    li:first-child a
        border-left: $border

  div.panel
    display: none
    clear: left
    border: $border
    padding: 30px 20px
    overflow: hidden
    background: #fff

  div.panel.current
    display: block
