// Typography
$text_color = #313131
$font_family = Helvetica, Arial, sans-serif
$font_size = 12px

// Layout
$chrome_width = 960px

// Colors
$dark_gray = #bbb
$gray = #ddd
$pale_gray = #e5e5e5
$pale_background = #FAFAFB

$border = 1px solid #ddd
